
.color {
    color: white
}

.card {
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color:white;
    border-radius: 3%;
    transition: linear 0.05s;
}
